.footer {
  width: 100%;
  padding: 15px 0;
  background: rgb(177 75 0 / 58%);
  border-top: 1px solid rgba(255, 244, 196, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
    color: #392b26;
    font-size: 13px;
    font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0;
}
